.wrapper {
  width: 100%;
  height: var(--default-layout-header-height, 60px);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
}

.search {
  width: 361px;
  height: 46px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  padding-left: 16px;
  display: flex;
  overflow: hidden;
  border: 1.5px solid transparent;
  caret-color: var(--primaryColor);

  input {
    flex: 1;
    font-size: 1.6rem;
    color: var(--black);
    border: none;
    background-color: transparent;
    outline: none;
    height: 100%;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: #000;
  }

  &:focus-within {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }
}

.clear,
.loading {
  border: none;
  font-size: 1.6rem;
  color: rgba(22, 24, 35, 0.6);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

.search-btn {
  width: 52px;
  height: 100%;
  border: none;
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.6);
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: calc(100% - 18px);
    width: 1px;
    background: rgba(22, 24, 35, 0.6);
    top: 9px;
  }

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }

  &:active {
    background: rgba(22, 24, 35, 0.06);
  }
}
